# Git will ignore the following files for version control
.vscode/
build/
cmake/
CMakeFiles/

build.ninja
cmake_install.cmake
CMakeLists.txt
CMakeCache.txt
CMakePresets.json
compile_commands.json
startup_stm32f446xx.s